In [1]:
# imports
import pandas as pd

In [2]:
# read small dataset (sandom sample)
md = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/movies_small.csv', low_memory=False)

In [3]:
# type
print(type(md))

<class 'pandas.core.frame.DataFrame'>

In [4]:
# shape
print(md.shape)

(4822, 24)

In [5]:
# info
print(md.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4822 entries, 0 to 4821
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  4822 non-null   bool
 1   belongs_to_collection  496 non-null    object
 2   budget                 4822 non-null   int64
 3   genres                 4822 non-null   object
 4   homepage               817 non-null    object
 5   id                     4822 non-null   int64
 6   imdb_id                4820 non-null   object
 7   original_language      4822 non-null   object
 8   original_title         4822 non-null   object
 9   overview               4714 non-null   object
 10  popularity             4822 non-null   float64
 11  poster_path            4785 non-null   object
 12  production_companies   4822 non-null   object
 13  production_countries   4822 non-null   object
 14  release_date           4810 non-null   object
 15  revenue                4822 non-null   int64
 16  runtime                4787 non-null   float64
 17  spoken_languages       4822 non-null   object
 18  status                 4815 non-null   object
 19  tagline                2189 non-null   object
 20  title                  4822 non-null   object
 21  video                  4822 non-null   bool
 22  vote_average           4822 non-null   float64
 23  vote_count             4822 non-null   int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 838.3+ KB
None

In [6]:
# describe
print(md.describe())

             budget             id   popularity       revenue      runtime  \
count  4.822000e+03    4822.000000  4822.000000  4.822000e+03  4787.000000
mean   4.479554e+06  107730.768768     2.906584  1.118364e+07    94.059954
std    1.901221e+07  111954.424191     4.892050  6.289271e+07    38.291402
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    0.000000e+00   25796.000000     0.374494  0.000000e+00    85.000000
50%    0.000000e+00   59315.500000     1.151589  0.000000e+00    94.000000
75%    0.000000e+00  157845.250000     3.815565  0.000000e+00   107.000000
max    3.000000e+08  469172.000000   133.827820  1.108561e+09   720.000000

       vote_average    vote_count
count   4822.000000   4822.000000
mean       5.576918    105.345085
std        1.944913    483.901944
min        0.000000      0.000000
25%        5.000000      3.000000
50%        6.000000     10.000000
75%        6.800000     35.000000
max       10.000000  12269.000000

In [7]:
# head
print(md.head())

   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...  release_date  \
0  It's Ted the Bellhop's first night on the job....  ...      09-12-95
1  Newspaper magnate, Charles Foster Kane is take...  ...      30-04-41
2  Captain Jack Sparrow works his way out of a bl...  ...      20-06-06
3  Paradise Now is filmed from the perspective of...  ...      14-02-05
4  Derek Vineyard is paroled after serving 3 year...  ...      30-10-98

      revenue runtime                                   spoken_languages  \
0     4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
1    23217674   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
2  1065659812   151.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
3     3357075    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...
4    23875127   119.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released  Twelve outrageous guests. Four scandalous requ...
1  Released                                     It's Terrific!
2  Released                                      Jack is back!
3  Released  From the most unexpected place, come a  new ca...
4  Released                            Some Legacies Must End.

                                        title  video vote_average vote_count
0                                  Four Rooms  False          6.5        539
1                                Citizen Kane  False          8.0       1244
2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380
3                                Paradise Now  False          6.9         63
4                          American History X  False          8.2       3120

[5 rows x 24 columns]

In [8]:
# head
print(md.head())

   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...  release_date  \
0  It's Ted the Bellhop's first night on the job....  ...      09-12-95
1  Newspaper magnate, Charles Foster Kane is take...  ...      30-04-41
2  Captain Jack Sparrow works his way out of a bl...  ...      20-06-06
3  Paradise Now is filmed from the perspective of...  ...      14-02-05
4  Derek Vineyard is paroled after serving 3 year...  ...      30-10-98

      revenue runtime                                   spoken_languages  \
0     4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
1    23217674   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
2  1065659812   151.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
3     3357075    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...
4    23875127   119.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released  Twelve outrageous guests. Four scandalous requ...
1  Released                                     It's Terrific!
2  Released                                      Jack is back!
3  Released  From the most unexpected place, come a  new ca...
4  Released                            Some Legacies Must End.

                                        title  video vote_average vote_count
0                                  Four Rooms  False          6.5        539
1                                Citizen Kane  False          8.0       1244
2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380
3                                Paradise Now  False          6.9         63
4                          American History X  False          8.2       3120

[5 rows x 24 columns]

# Simple Recommender 
##################################################
# The Simple Recommender offers generalized recommnendations to every user based 
# on movie popularity and (sometimes) genre. The basic idea behind this recommender 
# is that movies that are more popular and more critically acclaimed will have 
# a higher probability of being liked by the average audience. This model does 
# not give personalized recommendations based on the user.
#
# The implementation of this model is extremely trivial. All we have to do is 
# sort our movies based on ratings and popularity and display the top movies of 
# our list. As an added step, we can pass in a genre argument to get the top movies 
# of a particular genre.

# top movies 
# based on weighted average calculated from vote_average & vote_count with 90 percentile cut-off
# wa = ( (v/(v+m)) * R) + ( (m/(m+v)) * C)
# where
# v is the number of votes for the movie
# m is the minimum votes required to be listed in the chart
# R is the average rating of the movie
# C is the mean vote across the whole report

In [9]:
# C is the mean vote across the whole report
C = md['vote_average'].mean()
print(C)

5.576918291165475

In [10]:
# m is the minimum votes required to be listed in the chart
m = md['vote_count'].quantile(0.50)
print(m)

# create a copy and filter for m
# Filter out all qualified movies into a new DataFrame
tm = md.copy()
tm = tm[tm['vote_count'] >= m]
print(type(tm))
print(tm.shape)
print(tm.head())

10.0
<class 'pandas.core.frame.DataFrame'>
(2464, 24)
   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...  release_date  \
0  It's Ted the Bellhop's first night on the job....  ...      09-12-95
1  Newspaper magnate, Charles Foster Kane is take...  ...      30-04-41
2  Captain Jack Sparrow works his way out of a bl...  ...      20-06-06
3  Paradise Now is filmed from the perspective of...  ...      14-02-05
4  Derek Vineyard is paroled after serving 3 year...  ...      30-10-98

      revenue runtime                                   spoken_languages  \
0     4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
1    23217674   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
2  1065659812   151.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
3     3357075    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...
4    23875127   119.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released  Twelve outrageous guests. Four scandalous requ...
1  Released                                     It's Terrific!
2  Released                                      Jack is back!
3  Released  From the most unexpected place, come a  new ca...
4  Released                            Some Legacies Must End.

                                        title  video vote_average vote_count
0                                  Four Rooms  False          6.5        539
1                                Citizen Kane  False          8.0       1244
2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380
3                                Paradise Now  False          6.9         63
4                          American History X  False          8.2       3120

[5 rows x 24 columns]

In [11]:
# function that computes the weighted rating of each movie
def weightedRating(x, m=m, C=C):
    v = x['vote_count']
    R = x['vote_average']
    # Calculation based on the IMDB formula
    return (v/(v+m) * R) + (m/(m+v) * C)

In [12]:
# define a new feature 'score' and calculate its value with `weighted_rating()`
tm['score'] = tm.apply(weightedRating, axis=1)
print(type(tm))
print(tm.shape)
print(tm.head())

<class 'pandas.core.frame.DataFrame'>
(2464, 25)
   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...     revenue runtime  \
0  It's Ted the Bellhop's first night on the job....  ...     4300000    98.0
1  Newspaper magnate, Charles Foster Kane is take...  ...    23217674   119.0
2  Captain Jack Sparrow works his way out of a bl...  ...  1065659812   151.0
3  Paradise Now is filmed from the perspective of...  ...     3357075    90.0
4  Derek Vineyard is paroled after serving 3 year...  ...    23875127   119.0

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1           [{'iso_639_1': 'en', 'name': 'English'}]  Released
2  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
3  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...  Released
4           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                             tagline  \
0  Twelve outrageous guests. Four scandalous requ...
1                                     It's Terrific!
2                                      Jack is back!
3  From the most unexpected place, come a  new ca...
4                            Some Legacies Must End.

                                        title  video vote_average vote_count  \
0                                  Four Rooms  False          6.5        539
1                                Citizen Kane  False          8.0       1244
2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380
3                                Paradise Now  False          6.9         63
4                          American History X  False          8.2       3120

      score
0  6.483186
1  7.980677
2  6.997360
3  6.718756
4  8.191620

[5 rows x 25 columns]

In [13]:
# sort movies based on score calculated above
tm = tm.sort_values('score', ascending=False)

In [14]:
# print the top 15 movies
print(tm[['title', 'vote_count', 'vote_average', 'score']].head(15))

                           title  vote_count  vote_average     score
3811                Planet Earth         176           8.8  8.626716
16                 The Godfather        6024           8.5  8.495156
9                The Dark Knight       12269           8.3  8.297782
17        The Godfather: Part II        3418           8.3  8.292056
63                    GoodFellas        3211           8.2  8.191856
4             American History X        3120           8.2  8.191620
34                  12 Angry Men        2130           8.2  8.187743
1136           Stop Making Sense          47           8.7  8.152091
59                   The Shining        3890           8.1  8.093531
56            The Usual Suspects        3334           8.1  8.092455
424           The Legend of 1900         554           8.1  8.055265
24                 The Apartment         498           8.1  8.050333
64    The Passion of Joan of Arc         159           8.2  8.044788
706                     Harakiri         136           8.2  8.020337
1                   Citizen Kane        1244           8.0  7.980677

In [15]:
# handle genres wise top n
print(tm['genres'].head())
# this is dictionary ... convert to list
tm['genres'] = tm['genres'].fillna('[]').apply(eval).apply(lambda x: [i['name'] for i in x] if isinstance(x, list) else [])
print(tm['genres'].head())

3811                  [{'id': 99, 'name': 'Documentary'}]
16      [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
9       [{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...
17      [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
63      [{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...
Name: genres, dtype: object
3811                       [Documentary]
16                        [Drama, Crime]
9       [Drama, Action, Crime, Thriller]
17                        [Drama, Crime]
63                        [Drama, Crime]
Name: genres, dtype: object

In [16]:
lsGenres = ['Action','Adventure','Animation","Children','Comedy', 'Crime','Documentary','Drama','Fantasy','Film-Noir','Horror','Musical','Mystery','Romance','Sci-Fi','Thriller','War','Western']
print(lsGenres)

['Action', 'Adventure', 'Animation","Children', 'Comedy', 'Crime', 'Documentary', 'Drama', 'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance', 'Sci-Fi', 'Thriller', 'War', 'Western']

In [17]:
# movies of a genre
def getGenreMovies(pGenre):
    global tm
    mask = tm['genres'].apply(lambda x: pGenre in x)
    #print(mask[0:5])
    mg = tm[mask]
    # print the top 5 movies
    print("\nGenre:", pGenre)
    print("==============================================")
    print(mg[['title', 'vote_count', 'vote_average', 'score']].head(5))

In [18]:
# sample genre
getGenreMovies('Comedy')

Genre: Comedy
==============================================
                                       title  vote_count  vote_average  \
24                             The Apartment         498           8.1
2025                   Louis C.K.: Hilarious          70           8.2
2839  Louis C.K.: Live at the Beacon Theater          80           8.1
1362                               Limelight          99           8.0
4675                       Perfect Strangers         803           7.8

         score
24    8.050333
2025  7.872115
2839  7.819658
1362  7.777699
4675  7.772656

In [19]:
# get top 5 for all genres
for stGenre in lsGenres:
    getGenreMovies(stGenre)

Genre: Action
==============================================
                                        title  vote_count  vote_average  \
9                             The Dark Knight       12269           8.3
706                                  Harakiri         136           8.2
3516  Batman: The Dark Knight Returns, Part 2         426           7.9
5                     Raiders of the Lost Ark        3949           7.7
58                                     Aliens        3282           7.7

         score
9     8.297782
706   8.020337
3516  7.846718
5     7.694637
58    7.693551

Genre: Adventure
==============================================
                          title  vote_count  vote_average     score
252               Into the Wild        3139           7.8  7.792940
5       Raiders of the Lost Ark        3949           7.7  7.694637
4689                       Okja         795           7.7  7.673626
52                         Jaws        2628           7.5  7.492710
84    The Man Who Would Be King         148           7.6  7.471957

Genre: Animation","Children
==============================================
Empty DataFrame
Columns: [title, vote_count, vote_average, score]
Index: []

Genre: Comedy
==============================================
                                       title  vote_count  vote_average  \
24                             The Apartment         498           8.1
2025                   Louis C.K.: Hilarious          70           8.2
2839  Louis C.K.: Live at the Beacon Theater          80           8.1
1362                               Limelight          99           8.0
4675                       Perfect Strangers         803           7.8

         score
24    8.050333
2025  7.872115
2839  7.819658
1362  7.777699
4675  7.772656

Genre: Crime
==============================================
                     title  vote_count  vote_average     score
16           The Godfather        6024           8.5  8.495156
9          The Dark Knight       12269           8.3  8.297782
17  The Godfather: Part II        3418           8.3  8.292056
63              GoodFellas        3211           8.2  8.191856
56      The Usual Suspects        3334           8.1  8.092455

Genre: Documentary
==============================================
                           title  vote_count  vote_average     score
3811                Planet Earth         176           8.8  8.626716
1136           Stop Making Sense          47           8.7  8.152091
2921     Searching for Sugar Man         286           7.9  7.821518
1230               The Civil War          15           9.2  7.750767
1428  From the Earth to the Moon          26           8.4  7.615811

Genre: Drama
==============================================
                     title  vote_count  vote_average     score
16           The Godfather        6024           8.5  8.495156
9          The Dark Knight       12269           8.3  8.297782
17  The Godfather: Part II        3418           8.3  8.292056
63              GoodFellas        3211           8.2  8.191856
4       American History X        3120           8.2  8.191620

Genre: Fantasy
==============================================
                      title  vote_count  vote_average     score
424      The Legend of 1900         554           8.1  8.055265
100   It's a Wonderful Life        1103           8.0  7.978229
4027                Tropico          30           8.4  7.694230
4689                   Okja         795           7.7  7.673626
70                  Aladdin        3495           7.4  7.394799

Genre: Film-Noir
==============================================
Empty DataFrame
Columns: [title, vote_count, vote_average, score]
Index: []

Genre: Horror
==============================================
               title  vote_count  vote_average     score
59       The Shining        3890           8.1  8.093531
58            Aliens        3282           7.7  7.693551
4718  Train to Busan         984           7.7  7.678641
52              Jaws        2628           7.5  7.492710
520        Repulsion         218           7.5  7.415654

Genre: Musical
==============================================
Empty DataFrame
Columns: [title, vote_count, vote_average, score]
Index: []

Genre: Mystery
==============================================
                         title  vote_count  vote_average     score
1                 Citizen Kane        1244           8.0  7.980677
47                    Rashomon         471           8.0  7.949624
4641  And Then There Were None          91           7.9  7.669992
465           Infernal Affairs         490           7.7  7.657538
6          Anatomy of a Murder         207           7.7  7.602162

Genre: Romance
==============================================
                            title  vote_count  vote_average     score
24                  The Apartment         498           8.1  8.050333
1362                    Limelight          99           8.0  7.777699
60                      Manhattan         600           7.8  7.763556
69                  Roman Holiday         502           7.8  7.756580
1397  A Woman Under the Influence          87           7.8  7.570816

Genre: Sci-Fi
==============================================
Empty DataFrame
Columns: [title, vote_count, vote_average, score]
Index: []

Genre: Thriller
==============================================
                  title  vote_count  vote_average     score
9       The Dark Knight       12269           8.3  8.297782
59          The Shining        3890           8.1  8.093531
56   The Usual Suspects        3334           8.1  8.092455
817  Woman in the Dunes          88           8.1  7.842543
242         Le Samouraï         187           7.9  7.782077

Genre: War
==============================================
                                    title  vote_count  vote_average     score
4457                        Hacksaw Ridge        3294           7.8  7.793272
304   Don't Look Now: We're Being Shot At         234           7.8  7.708890
54                               Downfall        1059           7.7  7.680140
12                     To Be or Not to Be         119           7.7  7.535420
1453                              To Live          62           7.7  7.405128

Genre: Western
==============================================
                                title  vote_count  vote_average     score
359              They Call Me Trinity         269           7.5  7.431072
539  The Man Who Shot Liberty Valance         272           7.4  7.335352
363                 My Name Is Nobody         227           7.1  7.035735
815                   The Proposition         221           7.1  7.034066
464                            Django         156           7.1  7.008248

In [20]:
stCrntMovie = "Django"
print(stCrntMovie)
tms = tm[ tm['original_title']==stCrntMovie ]
print(tms)
lsGenres = tms['genres']
print(lsGenres)
try:
    lsGenres = tms.iloc[0,3]
    print(lsGenres)
    # get top 5 for all genres
    for stGenre in lsGenres:
        print("\n" + stGenre)
        getGenreMovies(stGenre)
except:
    print("Title Not Found ...")

Django
     adult                              belongs_to_collection  budget  \
464  False  {'id': 386818, 'name': 'Django - Original film...       0

                genres homepage     id    imdb_id original_language  \
464  [Action, Western]      NaN  10772  tt0060315                it

    original_title                                           overview  ...  \
464         Django  Django is a 1966 Italian spaghetti Western fil...  ...

     revenue runtime                           spoken_languages    status  \
464    17277    93.0  [{'iso_639_1': 'it', 'name': 'Italiano'}]  Released

                             tagline   title  video vote_average vote_count  \
464  The movie that spawned a genre.  Django  False          7.1        156

        score
464  7.008248

[1 rows x 25 columns]
464    [Action, Western]
Name: genres, dtype: object
['Action', 'Western']

Action

Genre: Action
==============================================
                                        title  vote_count  vote_average  \
9                             The Dark Knight       12269           8.3
706                                  Harakiri         136           8.2
3516  Batman: The Dark Knight Returns, Part 2         426           7.9
5                     Raiders of the Lost Ark        3949           7.7
58                                     Aliens        3282           7.7

         score
9     8.297782
706   8.020337
3516  7.846718
5     7.694637
58    7.693551

Western

Genre: Western
==============================================
                                title  vote_count  vote_average     score
359              They Call Me Trinity         269           7.5  7.431072
539  The Man Who Shot Liberty Valance         272           7.4  7.335352
363                 My Name Is Nobody         227           7.1  7.035735
815                   The Proposition         221           7.1  7.034066
464                            Django         156           7.1  7.008248